.container {
    display: flex;
}
.container .box{
    border: 2px solid grey;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
}
.editor{
    width: 450px;
    height: 620px;
}
.dialog {
    height: fit-content;
}
input{
    width: 100%;
}